<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Name</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <h1>Welcome on <strong>(name)</strong>'s website</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Porro voluptatum officiis illum. Labore sed soluta optio libero, rem est quos.
        Nostrum ipsa dolores atque ea autem doloribus ipsam ut expedita!
    </p>
</body>
<footer>Your website - 2022</footer> 
</html>
